body{
    background-color: whitesmoke;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #262b15;
    size: 32px;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3f3f3f;
    size: 24px;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #464b37;
    size: 24px;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #7d8942;
    size: 12px;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3d3d3d;
    size: 12px;
}
figcaption{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3f3f3f;
    font-style: italic;
    text-align: center;
    size: 8px;
}
img {
  max-width: 100%;
  height: auto;
}

/* information block*/
    .infoBlock{
        margin-top: 5%;
        margin-bottom: 5%;
    }

/* horizonal navegation bar */
    /* the bar itself */
    .navbar ul {
        list-style-type: none; /* Removes bullet points */
        display: flex;         /* makes the bar horizontal */
        overflow: hidden;      /* hides the contents when they overflow*/
        justify-content: center; /* centers the contents of the bar */
        background-color: #afb4ad; /* background for the bar */
    }
    /* the contents of the bar */
    .navbar li a {
        display: block;      /* makes the bar click-able */
        color: #262b15;    /* color of the contents */
        text-align: center;  /* centers the contents */
        padding: 14px 16px;  /* space between each item */
        text-decoration: none; /* removes the link-ish look */
    }
    /* hover mouse effect */
    .navbar li a:hover {
        background-color:#848871;
    }