:root {
    /*Color Pallete*/
    --cerulean: #007ea7ff;
    --prussian-blue: #011936ff;
    --silver: #cdcdcdff;
    --ash-brown: #725e54ff;
    --white-smoke: #f5f5f5;
    --vivid-tangerine: #ff7f11ff;
}


body {
    background-color: var(--white-smoke);
    color: var(--prussian-blue);
    max-width: 1000px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*header section*/
header {
    background-color: var(--prussian-blue);
    color: var(--vivid-tangerine);
    text-align: center;
    border-radius: 5px;
    display: block;
    padding: 20px 20px;
}

.logo{
    font-size: 13px;
}

/*primary nav bar*/
.primary-navbar ul {
    font-size: 16px;
    color: var(--silver);
    padding-bottom: 1rem;
}

.primary-navbar ul li {
    padding: 5px;
    display: inline;
}

.primary-navbar ul li a {
    text-decoration: none;
    color: var(--silver);
}

.primary-navbar-header{
    color: var(--cerulean);
}

/* Main section*/

main {
    color: var(--prussian-blue);
}

.page-title {
    text-align: center;
    font-size: larger;
}

section img {
    max-width: 800px;
    max-height: 400px;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.section {
    background-color: var(--silver);
    border-radius: 10px;
    padding: 10px 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.info-section {
    background-color: var(--silver);
    border-radius: 10px;
    padding: 10px 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}


/* Secundary nav bar*/

.secondary-navbar ul li {
    font-size: 16px;
    display: inline;
    padding: 5px;
    color: var(--silver);
}

.secondary-navbar ul li a {
    color: var(--silver);
    text-decoration: none;
}

.secondary-navbar-header{
    color: var(--cerulean);
}

/* Footer section */
footer {
    color: var(--silver);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-top: 1rem;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    display: inline;
    padding: 1rem;
}

.footer-links ul li p {
    display: inline;
    margin: 0;
}

.footer-links ul li a {
    color: var(--cerulean);
    text-decoration: none;
}

.made-by {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: var(--prussian-blue);
}

.made-by a {
    color: var(--prussian-blue);
    text-decoration: none;
}