
body{
    background-color: whitesmoke;
    margin-left: 45px;
    margin-right: 45px;

}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #051827;
    size: 32px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #214457;
    size: 24px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #386994;
    size: 24px;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #386994;
    size: 12px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: #386994;
    size: 12px;
}
li{
    font-family: Arial, Helvetica, sans-serif;
    color: #386994;
    size: 12px;
}
blockquote{
    font-family: Arial, Helvetica, sans-serif;
    color: #386994;
    size: 12px;
}
img {
  display: block;
  margin: auto;
}