<footer>
    <hr>
    <div class="footer-links">
        <ul>
            <li><p><a href="https://angelvn2005.github.io">My GitHub.io Page</a></p></li>
            <li><p><a href="https://github.com/AngelVN2005" target="_blank">My GitHub Profile</a></p></li>
            <li><p><a href="https://webpages.charlotte.edu/avillarn" target="_blank">MY CLT Web</a></p></li>
            <li><p><a href="https://www.linkedin.com/jobs/" target="_blank">My LinkedIn Profile</a></p></li>
            <li><p><a href="https://www.freecodecamp.org/agreeablevioletnarwhal" target="_blank">My FreeCodeCamp Profile</a></p></li>
        </ul>
    </div>
    <hr>

    <div class="made-by">
        <p>Page made by <a href="../avndesigns/index.html" target="_blank">Angel Villar Nolasco</a></p>
    </div>
    
</footer>