<footer>
    <div class="footer-tittle">
         <h3>Links</h3>
    </div>
   
    <div class="footer-links">
        <ul>
            <li><p><a href="https://angelvn2005.github.io">GitHub.io</a></p></li>
            <li><p><a href="https://github.com/AngelVN2005" target="_blank">GitHub</a></p></li>
            <li><p><a href="https://webpages.charlotte.edu/avillarn" target="_blank">CLT Web</a></p></li>
            <li><p><a href="https://www.linkedin.com/jobs/" target="_blank">LinkedIn</a></p></li>
            <li><p><a href="https://www.freecodecamp.org/agreeablevioletnarwhal" target="_blank">FreeCodeCamp</a></p></li>
        </ul>
    </div>


    <div class="made-by">
        <p>Page made by <a href="/itis3135/avndesigns/index.html" target="_blank">Angel Villar Nolasco</a></p>
    </div>
    
</footer>