<header>
    <div class="logo"> 
        <h1>Angel A. Villar Nolasco's Agreeable Violet Narwhal ~ ITIS 3135</h1> 
    </div>
    
    <div class="primary-navbar">
        <nav class="navbar">
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="../../itis3135/index.html">Course</a></li>
                <li><a href="../../itis3135/contract.html">Contract</a></li>
                <li><a href="../../itis3135/survey.html">Survey</a></li>
                <li><a href="../../itis3135/gallery.html">Gallery</a></li>
                <li><a href="../../itis3135/inventory.html">Inventory</a></li>
                <li><a href="../../itis3135/instructions.html">Instructions</a></li>
                <li><a href="../../itis3135/highlight.html">Highlight</a></li>
            </ul> 
        </nav>
    </div>
    
</header>
