<header>
    <div class="logo">
        <h1>Angel A. Villar Nolasco's Agreeable Violet Narwhal ~ ITIS 3135</h1>
    </div>

    <div class="primary-navbar">
        <div class="primary-navbar-header">
            <h3>Main Sites</h3>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="../../itis3135/index.html">Course</a></li>
                <li><a href="../../itis3135/contract.html">Contract</a></li>
                <li><a href="../../itis3135/survey.html">Survey</a></li>
                <li><a href="../../itis3135/gallery.html">Gallery</a></li>
                <li><a href="../../itis3135/inventory.html">Inventory</a></li>
                <li><a href="../../itis3135/instructions.html">Instructions</a></li>
                <li><a href="../../itis3135/highlight.html">Highlight</a></li>
                <li><a href="../../itis3135/website_evaluations.html">Evaluations</a></li>
                <li><a href="../../itis3135/projectProposal.html">Project Proposal</a></li>
            </ul>
        </nav>
    </div>

    <div class="secondary-navbar">
        <div class="secondary-navbar-header">
            <h3>Misselaneous Sites</h3>
        </div>
        <nav>
            <ul>
                <li><a href="../../itis3135/stuff/crappy.htm" target="_blank">Crappy</a></li>
                <li><a href="../../itis3135/hobby/index.html" target="_blank">Midterm</a></li>
                <li><a href="../../itis3135/projects/index.html" target="_blank">Wendy's Kitchen</a></li>
            </ul>
        </nav>
    </div>

</header>