<header>
    <div class="header-bar"></div>
    <div class="header-inner">
        <div class="header-brand">
            <div class="brand-name">
                <h1>Wendy's Kitchen</h1>
            </div>
            <div class="brand-tagline">
                <span>cocina en casa</span>
            </div>
        </div>
        <nav class="header-nav">
            <a href="../projects/index.html">Home</a>
            <a href="../projects/menu.html">Menu</a>
            <a href="../projects/cart.html">Cart</a>
            <a href="../projects/checkout.html">Check-out</a>
            <a href="../projects/contact.html">Contact Us</a>
        </nav>
    </div>
</header>